body {
    background: rgb(175, 174, 174) !important;
}

.img_Tamanho {
    /* height: 300px;
    width: 75vh; */
    height: 300px;
    width: auto;
}

.prodCard {
    margin-left: 10px;
    margin-right: 10px;
}